* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

.hero {
    position: relative;
    height: 100vh;
    background-image: url("assets/background.png");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.hero-text h1 {
    font-size: 6rem;
    font-weight: bold;
    color: white;
    margin-bottom: 0.5rem;
}

.hero-text p {
    font-size: 1.25rem;
    color: white;
    /* margin-bottom: 8rem; */
}

.video-section {
    padding: 5vw;
    text-align: center;
}

.video-section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.video-section iframe {
    width: 100%;
    max-width: 560px;
    height: 315px;
    margin: 0 auto;
    display: block;
}

.footer {
    padding: 25px;
    text-align: center;
    background-color: #f5f5f5;
    width: 100%;
}

.footer p {
    font-size: 1rem;
    color: #777;
}

@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-20px);
    }
    60% {
        transform: translateY(-10px);
    }
}